// обнуление
* {
   padding: 0;
   margin: 0;
   border: 0;
}


*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}


nav,
footer,
header,
aside {
   display: block;
}


html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
   font-family: inherit;
}


input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner,
button:focus,
button:active,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
   box-shadow: none !important;
   padding: 0;
   border: 0;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
   color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

a,
a:visited {
   text-decoration: none;
   color: #333333;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-size: inherit;
   font-weight: 400;
   margin: 0;
}

button:focus {
   outline: none;
}

label {
   margin-bottom: 0;
}

.dropdown-menu {
   margin: 0;
}